<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794963713226-u7ssi4e6rbu0ak5tehrs548aetp1efgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794963713226-u7ssi4e6rbu0ak5tehrs548aetp1efgs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>794963713226-bcklm19ae333pee4r504fgih9n24lfd9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDL-0QIGN_eJ-kKcGOot4HJaLJ_4gV_u_s</string>
	<key>GCM_SENDER_ID</key>
	<string>794963713226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectApp</string>
	<key>PROJECT_ID</key>
	<string>connectapp-68736</string>
	<key>STORAGE_BUCKET</key>
	<string>connectapp-68736.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794963713226:ios:b00bab5c048aeca750a833</string>
</dict>
</plist>